:root {

--prim-black: rgb(10,9,9);
--sec-black: rgb(20,18,19);
--gold: rgb(236,207,163);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Or any font you prefer */
    background-color: var(--prim-black);
    color: white;
    line-height: 1.6;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Heading Styles */
h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.links{	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.container {
	position: relative;
	
}
.textbg {
	width: 50%;
	height: 50%;
	z-index: -1;
}
.text {
	position: absolute;
	top:-5px;
	left:30px;
}

nav a {
  text-decoration: none;      /* Remove underline */
  color: var(--gold);             /* Set link color */
  font-size: 24px;            /* Font size */
  font-weight: bold;           /* Medium weight */
  display: inline-block;      /* Allows padding and block-like behavior */
  transition: color 0.3s, background-color 0.3s; /* Smooth color transitions */
  

}

/* Hover effect */
nav a:hover {
	color: white;               /* Change text color on hover */
	filter: invert(100%);
}

/* Active link (when it's selected or clicked) */
nav a:active {
  color: rgb(100,100,100);             /* Text color when active */
}



h2 {
  font-family: 'Arial', sans-serif; 
  text-align: center;
  color: #f0f0f0;
  font-size: 36px;
  font-weight: bold;
}

.textbg_large {
	width: 100%;
	height: 100%;
}

.text_large{
	position: absolute;
	top:25px;
	left:30px;
}

.container_large {
	position: relative;
	opacity: 1;
	top:0px;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		top: 50px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}


.features {
	display: flex;
	gap: 10px;
}


.feature_item {
	background-color: #212020;
	border-style: groove;
	border-radius: 5px;
}

.feature_item:hover {
	
	background-color: #2C2D2E;
	box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
	transform: scale(1.05); 
}

p {
	padding: 10px 20px;
}

h3 {
	
  font-family: 'Arial', sans-serif; 
  text-align: left;
  padding-left: 5px;
  color: var(--gold);
  font-size: 20px;
  font-weight: bold;
}


.pricing {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.pricing_item {
	background-color: #212020;
	border-style: groove;
	border-radius: 5px;
}

.pricing_item:hover {
	
	background-color: #2C2D2E;
	box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
	transform: scale(1.03); 
}